<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link href="/css/details.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap"
    />
  </head>
<body>
  <div class="palengke-landing-screen">
      <div class="frame-parent">
        <div class="logo-wrapper">
          <div class="logo">Logo</div>
        </div>
        <div class="frame-group">
          <div class="palengke-parent">
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <a href="/product"><i class="fas fa-home"></i> Back</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="palengke">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item">
                  <div class="sidebar-item">
                    <a href="/"><i class="fas fa-home"></i> Palengke</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/"><i class="fas fa-shopping-cart"></i> My Basket</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/"><i class="fas fa-file-alt"></i> My Orders</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-horizontal">
            <div class="divider-horizontal-child"></div>
          </div>
          {{#if phone}}
          <div class="basket">
            <div class="base-sidebar-item-states">
              <div class="base-sidebar-item1">
                <div class="sidebar-item">
                    <a href="/"><i class="fas fa-user"></i>My Account</a>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-horizontal">
            <div class="divider-horizontal-child"></div>
          </div>
          {{/if}}
          <div class="help-parent">
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <a href="/"><i class="fas fa-question-circle"></i>Help & Support</a>
                  </div>
                </div>
              </div>
            </div>
            {{#if phone}}
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">
                    <form class="fas fa-sign-out-alt" action="/logout" method="post">
                        <a href="/"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            {{else}}
            <div class="basket">
              <div class="base-sidebar-item-states">
                <div class="base-sidebar-item1">
                  <div class="sidebar-item">

                    <a href="/login"><i class="fas fa-sign-out-alt"></i>Login</a>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="container">
        <div class="product-detail">
          <img src="{{result.item}}.png" height="300px" width="300" alt="Product Image" class="product-image">
          <h1 class="product-name">{{result.item}}</h1>
          <p class="product-price">₱ {{result.price}} /1kg</p>
          <p class="product-quantity">In stock: {{result.qty}}</p>
          <form method ="post">
          <label for="kilo"> How many kilos would you like to order? </label><br><br>
          <input type="text" name="kilo" id="kilo" placeholder="kilograms">
          <br><br>
          <button class="add-to-basket"><b>Add to Basket</b></button>
          </form>
        </div>
      </div>
</body>

</html>
