<!DOCTYPE html>
<head>
    <title> {{item}} </title>
</head>
<body>
    <a href="/"> Home </a>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup </a>

    <div>
        <img src="{{result.item}}.jpg" alt="{{result.item}}" width="200px" height="200px"><br>
        <p> {{result.item}} </p>
        <p> {{result.price}} </p>
        <p> {{result.qty}} </p>
        <p> {{result.category}} </p>
        <p> {{result.info}} </p>
    </div>

</body>